.brands {
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;

    &_big {
      flex: 0 1 66.667%;
    }
  }

  &__item {
  }

  &__content {
    padding: 75px 65px 55px 65px;
    position: relative;
    &:after {
      //треугольник
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $white;
    }
  }

  &__image {
    padding: 0 0 39.5% 0;

    &_row1 {
      background: url('../img/content/row1-min.png');
    }
    &_row2 {
      background: url('../img/content/row2-min.png');
    }
    &_row3 {
      background: url('../img/content/row3-middle.png');
    }
  }
}

@media (max-width: 1500px) {
  .brands__content {
    padding: 35px 35px 15px;
  }
}

@media (max-width: 767px) {
  .brands {
    &__row {
      flex-direction: column;
    }
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;

  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 15;
    background-color: rgba(0, 128, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
  }

  &:hover {
    .item__logo {
      opacity: 1;
      visibility: visible;
    }
  }

  .logo__text {
    font-size: 13px;
    line-height: 15px;
    z-index: 15;
    text-transform: uppercase;
    color: $cultured-pearl;

    &_space {
      letter-spacing: 2px;
    }

    &_since {
      font-style: italic;
      text-transform: capitalize;
      font-size: 8px;
      line-height: 10px;
      color: $cultured-pearl;
    }
  }

  &__bigImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &_row1 {
      background: url('../img/content/row1-big.png');
    }
    &_row2 {
      background: url('../img/content/row2-big.png');
    }
    &_row3Left {
      background: url('../img/content/row3-left.png');
    }
    &_row3Right {
      background: url('../img/content/row3-right.png');
    }
  }

  @media (max-width: 767px) {
    height: auto;
    padding-bottom: 60%;
  }
}
