.footer {
  padding: 105px 0;
  background-color: $cultured-pearl;

  &__row {
    display: grid;
    place-items: center;
    place-self: center;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    & {
      padding: 40px;
      text-align: center;
      &__row {
        grid-template-columns: 1fr;
      }

      &__social {
        margin: 30px 0;
      }
    }
  }
}

.address {
  font-size: 16px;
  line-height: 18px;
  color: $oslo-gray;

  &__city {
    font-weight: 700;
  }

  &__street {
    font-style: italic;
    font-weight: 400;
  }

  &__index {
    font-style: italic;
    font-weight: 400;

    a {
      color: $oslo-gray;
      transition: color 0.2s ease-in-out;
    }
    a:hover {
      color: $scarpa-flow;
    }
  }
}

.social {
  &__link {
    opacity: 0.85;
    margin: 0 7.5px;
    transition: opacity 0.2s ease-in-out;

    img {
      transform: skew(0deg, 0deg);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      opacity: 1;
      img {
        transform: skew(-3deg, -3deg);
      }
    }
  }
}

.dev {
  &__link {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: row;
  }

  &__handcrafted {
    font-size: 14px;
    line-height: 18px;
    color: #848789;
    font-weight: 400;
    font-style: italic;
    margin-right: 10px;
  }
}
