@import '_variables.scss';
@import '_typography.scss';
@import '_reset.scss';

@import '_header.scss';
@import '_main-screen.scss';
@import '_about-us.scss';
@import '_content.scss';
@import '_slider.scss';
@import '_shop.scss';
@import '_subscribe.scss';
@import '_footer.scss';

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 0; //убрать отступы
}

.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lock {
  overflow: hidden;
}

.browserslistrc {
  last 1 version
> 1%
IE 10
}
