//обнуление
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
//---------
//шрифты
@font-face {
	font-family: Myriad_Pro;
	src: url('../fonts/Myriad_Pro.eot');
	src: local('☺'), url('../fonts/Myriad_Pro.woff') format('woff'), url('../fonts/Myriad_Pro.ttf') format('truetype'), url('../fonts/Myriad_Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url('../fonts/Lato_Bold.eot');
	src: local('☺'), url('../fonts/Lato_Bold.woff') format('woff'), url('../fonts/Lato_Bold.ttf') format('truetype'), url('../fonts/Lato_Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato_italic';
	src: url('fonts/Lato_italic.eot');
	src: local('☺'), url('../fonts/Lato_italic.woff') format('woff'), url('../fonts/Lato_italic.ttf') format('truetype'), url('../fonts/Lato_italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

//переменные
$color_1: #f7f7f7;
$color_2: #222429;
$color_3: #4d4959;
$color_4: #848789;
$color_5: #353738;
$color_6: #282f35;

//шаблоны
%navfonts{
	font-family: Myriad_Pro, verdana, sans-serif;
	font-size:  0.8125em;
	line-height: 100%;
	color: $color_3;
	text-transform: uppercase;
} 
%h2fonts{
	font-family: lato, verdana, sans-serif;
	font-size:  1.125em;
	line-height: 100%;
	color: $color_5;
	text-transform: uppercase;
}
%pfonts{
	font-family: lato, verdana, sans-serif;
	font-size:  0.8em;
	font-weight: 500;
	line-height: 35px;
	color: $color_4;	
}

body, .wraper  {
	background-color: $color_1;
}

.contain	{
	max-width: 1600px;
	margin: 0 auto;
}

.header {
	min-height: 800px;
	background: url(../img/header_bicycle.png) no-repeat 50% 50%; 
	margin: 0 auto;
	ul {
	width: 40%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
	ul a {
		@extend %navfonts;
	}
	ul a:hover {
		border-bottom: 1px solid $color_2;
	}
}

.about_us, .twitter {
	width: 65%;
	margin: 0 auto;
	height: 470px;
	text-align: center;
	img {
		margin: 110px 0 30px 0;
	}
	h2 {
		@extend %h2fonts;
	}
	p {
		margin-top: 40px;
		@extend %pfonts;
		font-size: 1.125em;
	}
}

.work_bike1, .work_bike2, .work_bike3 {
	.contain {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
	}
	.work_large {
		width: 1067px;
		height: 600px;
		background: url('../img/work_bicycle.png') no-repeat 50% 50%;
	}
	.work_small {
    	height: 600px;
		width: 533px;
		.work_text {
			float: right;
			text-align: center;
			vertical-align: middle;
			img {
				width: 41px;
				height: 30px;
				margin-top: 70px;
				margin-bottom: 30px;
			}
			h2 {
				@extend %h2fonts;
			}
			p {
				@extend %pfonts;
				margin-top: 30px;
				margin-bottom: 40px;
			}
			hr {
				margin-left: 241.5px;
				width: 50px;
				height: 1px;
				background-color: $color_5;
			}
		}
		.work_img {
			margin-top: 400px;
			background: url('../img/work_bicycle2.png') no-repeat 50% 50%;
			width: 533px;
			height: 200px;

		}
	}
}

.work_bike2 {
	.contain {
		flex-direction: row-reverse;
	}
	.work_large {
		background: url('../img/work_bicycle_second.png') no-repeat 50% 50%;
	}
	.work_small {
		.work_text 
			img {
				width: 32px;
				height: 32px;
			}
		.work_img {
			background: url('../img/work_bicycle2_second.png') no-repeat 50% 50%;
		}
	}
}

.work_bike3 {
	.work_large_left {
		width: 533px;
		height: 600px;
		background: url('../img/bike3_left.png') no-repeat 50% 50%;
	}
	.work_small {
		height: 600px;
		width: 534px;
		.work_text {
			img {
				width: 23px;
				height: 41px;
			}

		}
		.work_img {
			background: url('../img/work_bicycle2_3.png') no-repeat 50% 50%;
		}
	}
	.work_large_right {
		width: 534px;
		height: 600px;
		background: url('../img/bike3_right.png') no-repeat 50% 50%;
	}
}

.twitter {
	.contain {
		img {
			width: 32px;
			height: 27px;
		}
		h3 {
			font-family: verdana, sans-serif;
			font-size:  1.125em;
			line-height: 100%;
			font-weight: bold;
			color: $color_5;
		}
		h3 span {
			font-weight: normal;
		}
		p {
			font-family: lato_italic, verdana, sans-serif;
			font-size:  1em;
			line-height: 35px;
			color: $color_4;	
		}
		input {
			margin-top: 100px;
		}
	}
}

.shop {
	background-color: #000;
	height: 534px;
	.red_button {}
	.discover {
		height: 200px;
		background-color: $color_6;
		text-align: center;
		position: relative;
		.btn {
			font-family: lato;
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			background-color: $color_6;
			border: 1px solid white;
			width: 300px;
			height: 55px;
			margin: 0;
		   position: absolute;
		   top: 50%;
		   left: 50%;
		   margin-right: -50%;
		   transform: translate(-50%, -50%)
		}
	}
	
}

.mailing {
	height: 470px;
	.contain {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}	
	.img {
		margin: 0 auto;
		width: 94px;
		height: 85px;
		}	

	p {
		text-align: center;
		@extend %pfonts;
		margin: 20px 0;
		font-style: italic;
	}
	form {
		height: 45px;
		display: flex;
	}
	.text {
		width: 450px;
		padding-left: 10px;
		font-style: italic;
		color: $color_4;
	}
	.btn_mail {
		@extend %navfonts;
		background: #64c29e;
		width: 70px;
		margin-left: 10px;
		color: $color_1;
		font-size: 20px;
	}
}

.footer {
	height: 250px;
	background-color: #f7f7f7;
	.container {
		height: 250px;
		display: flex;
		justify-content: space-between;
		margin: 0 87.5px;
	}
	
	.info {
		width: 475px;
		display: flex;
		justify-content: center;
		align-items: center;
		.centr {
			h2 {
				@extend %h2fonts;
				margin-left: 170px;
				font-size: 14px;
				color: $color_4;
			}
			p {
				@extend %pfonts;
				margin-left: 170px;
				font-size: 12px;
				line-height: 14px;

			}
			
		}
		
	}

	.links {
		width: 475px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 35px;
			height: 34;
			margin: 0 8px;
		}
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 475px;
		img {
			width: 55px;
			height: 36px;
			margin-right: 170px;
		}
		p {
			font-family: lato;
			font-size: 12px;
			line-height: 14px;
			color: $color_4;
			margin-right: 10px;
		}
	}
}