section#about-us.generation
    .container 
      .generation__block.block
        .block__icon
          img(src="../img/logo, icons/Icon.svg", alt="icon")
        h1.block__title a new generation of vintage bike
        .block__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ipsa maiores eligendi pariatur quas adipisci consectetur, delectus repellat, laudantium dolores at odio recusandae consequatur earum nisi? Temporibus eos aut, maxime illum fugiat alias et.