section#work.brands
  .brands__row
    .brands__column_big
      a.brands__item.item(href="")
        span.item__logo.logo
          img(src="../img/logo, icons/bycicle.svg", alt="logo-bycicle")
          span.logo__text.logo__text_space bicycle <br/> 
          span.logo__text company
          span.logo__text.logo__text_since Since 1926
        span.item__bigImage.item__bigImage_row1.img 
    .brands__column
      .brands__content.block
        .block__icon
          img(src="../img/logo, icons/Icon (1).svg", alt="icon")
        h2.block__title vintage Olivia
        .block__text.block__text_j Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ipsa maiores eligendi pariatur quas adipisci consectetur, delectus repellat.
      .brands__image.brands__image_row1.img

  .brands__row
    .brands__column
      .brands__content.block
        .block__icon
          img(src="../img/logo, icons/Icon (2).svg", alt="icon")
        h2.block__title la boriosa
        .block__text.block__text_j Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ipsa maiores eligendi pariatur quas adipisci consectetur, delectus repellat.
      .brands__image.brands__image_row2.img
    .brands__column_big
      a.brands__item.item(href="")
        span.item__logo
          img(src="../img/logo, icons/Logo2.png", alt="vintage")
        span.item__bigImage.item__bigImage_row2.img 

  .brands__row
    .brands__column
      a.brands__item.item(href="")
        span.item__logo.logo
          img(src="../img/logo, icons/Logo3.png", alt="logo")
        span.item__bigImage.item__bigImage_row3Left.img 
    .brands__column
      .brands__content.block
        .block__icon
          img(src="../img/logo, icons/Bottle.svg", alt="bottle")
        h2.block__title retrò Bike - M. Hulot
        .block__text.block__text_j Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ipsa maiores eligendi pariatur quas adipisci consectetur, delectus repellat.
      .brands__image.brands__image_row3.img
    .brands__column
      a.brands__item.item(href="")
        span.item__logo.logo
          img(src="../img/logo, icons/Logo3.png", alt="logo")
        span.item__bigImage.item__bigImage_row3Right.img 
          


