.content
  section.generation
    .container 
      .generation__block.block
        .block__icon
          img(src="../img/logo, icons/Icon.svg", alt="icon")
        h1.block__title a new generation of vintage bike
        .block__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ipsa maiores eligendi pariatur quas adipisci consectetur, delectus repellat, laudantium dolores at odio recusandae consequatur earum nisi? Temporibus eos aut, maxime illum fugiat alias et.
  section.brands
    .brands__row
      .brands__column_big
        a.brands__item.item(href="")
          span.item__logo
            img(src="../img/logo, icons/bycicle.svg", alt="logo-bycicle")
          span.item__img.img 
            //- img(src="../img/contant/1_big.png", alt="bicycle-handlebar")
      .brands__column
        .brands__content.block
          .block__icon
            img(src="../img/logo, icons/Icon (1).svg", alt="icon")
          h2.block__title vintage Olivia
          .block__text.block__text_j Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ipsa maiores eligendi pariatur quas adipisci consectetur, delectus repellat.
        .brands__image.img


