footer#contacts.footer
  div.container
    .footer__row 
      .footer__address.address
        .address__city AOD New York
        .address__street 2250 Lexington Avenue
        .address__index New York, NY 10035  - <small><a href="mailto:info@domain.com" > info@domain.com</a></small>
      .footer__social.social
        a.social__link(href="https://twitter.com/") 
          img(src="../img/social/twitter_in_circle.png", alt="twiter")
        a.social__link(href="https://www.facebook.com/") 
          img(src="../img/social/fb.png", alt="facebook")
        a.social__link(href="https://www.pinterest.ru/") 
          img(src="../img/social/pinterest.png", alt="pinterest")
      .footer__developer.dev
        a.dev__link(href="") 
          span.dev__handcrafted Handcrafted by
          img(src="../img/logo, icons/Y E B O Logo.svg", alt="yebo")

