header.header 
  .header__row
    nav.header__menu.menu
      .menu__burger.burger-menu
        span
        span
        span
      .menu__body
        ul.menu__list
          li
            a.menu__link(href="#") about us
          li
            a.menu__link(href="#") work
          li
            a.menu__link(href="#") shop
          li
            a.menu__link(href="#") contacts
    .header__logo
      img(src="../img/logo, icons/Logo.svg", alt="logo")