header.header 
  .header__row
    nav.header__menu.menu
      .menu__burger.burger-menu
        span
        span
        span
      .menu__body
        ul.menu__list
          li
            a.menu__link(href="#about-us") about us
          li
            a.menu__link(href="#work") work
          li
            a.menu__link(href="#shop") shop
          li
            a.menu__link(href="#contacts") contacts
    .header__logo
      img(src="../img/logo, icons/Logo.svg", alt="logo")