section#shop.shop
  .shop__body 
    .shop__column.shop__column_b 
      .shop__block.block-shop 
        .block-shop__row 

          .block-shop__column.img 
            a.block-shop__item.item(href="")
              span.item__logo.logo
                img(src="../img/logo, icons/bycicle.svg", alt="bike")
                span shop now
              span.item__image.item__image_leftTop.img 
                img(src="../img/shop/1col-up-left.png", alt="brooks")

          .block-shop__column.img
            a.block-shop__item.item(href="")
              span.item__logo.logo
                img(src="../img/logo, icons/Logo3.png", alt="logo")
              span.item__image.item__image_RightTop.img
                img(src="../img/shop/1col-up-right.png", alt="brooks")

        .block-shop__row        
          .shop__column_b.img
            img(src="../img/shop/1col-down.png", alt="brooks")
              
  .shop__footer 
    .container 
      a.shop__btn(href="") discover the shop 