section#shop.shop 
  .shop-blocks 
    .shop-blocks__block_1 
      include ./_shop-logo.pug
    .shop-blocks__block_2 
      include ./_shop-logo.pug
    .shop-blocks__block_3 
      include ./_shop-logo.pug
    .shop-blocks__block_4 
      include ./_shop-logo.pug
    .shop-blocks__block_5 
      include ./_shop-logo.pug
    .shop-blocks__block_6 
      include ./_shop-logo.pug
    .shop-blocks__block_7 
      include ./_shop-logo.pug
    .shop-blocks__block_8 
      include ./_shop-logo.pug

  .shop__footer 
    .container 
      a.shop__btn(href="") discover the shop 