section.slider
  .container
    .slider__body
      .slider__item
        .slider__icon
          img(src="../img/social/twitter.png", alt="twitter")
        .slider__title AOD New York  @aod <span> /  35 min </span>  
        .slider__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ex maiores velit reprehenderit nihil repellat.

      //- .slider__item
      //-   .slider__icon
      //-     img(src="../img/social/twitter.png", alt="twitter")
      //-   .slider__title AOD New York  @aod <span> /  35 min </span>  
      //-   .slider__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ex maiores velit reprehenderit nihil repellat.

      //- .slider__item
      //-   .slider__icon
      //-     img(src="../img/social/twitter.png", alt="twitter")
      //-   .slider__title AOD New York  @aod <span> /  35 min </span>  
      //-   .slider__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ex maiores velit reprehenderit nihil repellat.


