section.subscribe 
  .container 
    .subscribe__body 
      .subscribe__logo  
        img(src="../img/logo, icons/Logo.svg", alt="logo")
        span Stay on the saddle! 
      
      form.subscribe__form.form(action="" method="POST")
        .form__input
          input(type="email", name="email", placeholder="enter yoir email..." required)
        .form__btn  
          button(type="submit") GO 
        span.error Неверный e-mail!