doctype html
html(lang="en")
  include ./_head.pug
  body
    div.wrapper
      main.page
        include ./_header.pug

        include ./_mainScreen.pug

        include ./_content.pug

        include ./_footer.pug
        