doctype html
html(lang="en")
  include ./_head.pug
  body
    div.wrapper
      main.page
        include ./_header.pug

        include ./_main-screen.pug

        include ./_content.pug

        include ./_slider.pug

        include ./_shop.pug

        include ./_subscribe.pug

        include ./_footer.pug
        